extends layout
block content

  each story in stories

    section.story(data-story-id="#{story._id}")
      h2 #{story.title}
      if story.paragraphs[0].author
        .started-by started by
          span.username &nbsp;
            a(href="/users/#{story.creator}") #{story.creator}


      each paragraph in story.paragraphs
        p #{paragraph.text}

      textarea(spellcheck="true")
      .enter-hints
        .start-writing.
          <i class="icon-pencil"></i> Hit enter to start writing
        .add-paragraph.
          <i class="icon-pencil"></i> Hit shift + enter to add your paragraph


  if stories.length < 1
    section
      h2 No stories yet. Time to <a href="/new">write</a> some!