extends layout
block content

  section.story(data-story-id="#{story.id}", data-group-id=story.groupId == null ? undefined : "#{story.groupId}")

    include star

    h2 #{story.title}

    include story-start-info

    each paragraph in story.paragraphs
      p #{paragraph.text}

    div.paragraph-input(contenteditable="true", spellcheck="true")
    i.fa.fa-microphone.fa-2x

    .enter-hints
      .start-writing <i class="fa fa-pencil"></i> Click the story to start writing
      .add-paragraph <i class="fa fa-pencil"></i> Hit shift + enter to add your paragraph
      .join-group: a(href="/groups") <i class="fa fa-group"></i> Join the story's group to start writing
      .login-hint: a(href="/join") <i class="fa fa-user"></i> Log in to join in!
      .typing-users
