section.story.preview(data-story-id="#{story._id}")

  include star

  h2: a(href="/stories/#{story.slug}") #{story.title}

  include story-start-info

  //- limit story previews to a number of characters or paragraphs (whichever comes first)
  //- or display the entire story if it is less than both of these parameters
  - var availableChars = 500; paragraphLimit = 5;
  - for (var i = 0; paragraph = story.paragraphs[i]; ++i) {
    - if (availableChars <= 0 || i >= paragraphLimit) {
      - break;
    - }
    - var text = paragraph.text;
    - if (text.length > availableChars) {
      p #{text.substring(0, availableChars)}...
    - } else {
      p #{text.substring(0, availableChars)}
    - }
    - availableChars -= text.length;
  - }

  .read-more
    a(href="/stories/#{story.slug}") <i class="icon-double-angle-right"></i> Read/write more